* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Gilroy-Medium; */
  font-family: futura;
  /* background-color: #111; */
}
html,
body {
  height: 100%;
  width: 100%;
}

/* nav part css */
nav {
  position: fixed;
  background-color: #111;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 2vw 6vw;
  height: 12vh;
  z-index: 1220;
  /* border: 1px solid salmon; */
  /* margin-top: 15px; */
}

nav h1 {
  font-size: 25px;
}

nav .nav-elems {
  text-transform: uppercase;
  display: flex;
  /* align-items: flex-start;
  justify-content: center; */
  gap: 1.2vw;
  margin-top: 0.8vw;
  position: relative;
  z-index: 10;
}

nav .nav-elems h4 {
  font-size: 0.9vw;
  font-weight: 50;
  cursor: pointer;
}

nav .nav-elems h4:hover {
  color: #807e7e;
}

nav .nav-elem h4 {
  margin-bottom: 30px;
}

nav .nav-elem h5 {
  margin-bottom: 15px;
  text-transform: capitalize;
  font-size: 0.83vw;
  /* background-color: #0da34e; */

  overflow: hidden;
  display: none;
}

nav .nav-elem h5 span {
  font-weight: 50;
  display: inline-block;
  /* opacity: 0; */
}

/* button part of nav element */
nav button {
  background-color: #0da34e;
  display: flex;
  align-items: center;
  color: white;
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  font-size: 1.1vw;
}

nav button span {
  margin-right: 20px;
}

nav button svg {
  height: 1vw;
}

/* nav bottom */
#nav-bottom {
  background-color: #111;
  width: 88%;
  height: 0vh;
  /* height: 26vh; */
  border-bottom: 1px solid #dadada;
  position: absolute;
  top: 100%;
  /* margin-top: 10px; */
  z-index: 8;
}

#page1 {
  height: 130vh;
  width: 100%;
  color: white;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forGap {
  margin-top: -10vh;
  margin-bottom: 8vh;
}

#page1 h1 {
  font-size: 8.3vw;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -4px;
  line-height: 130px;
}

#page1 h1 svg {
  width: 5.9vw;
  height: 5.9vw;
  border-radius: 50%;
  background-color: #0da34e;
}

#page1 p {
  font-size: 1vw;
  text-align: center;
  /* font-weight: 100; */
  margin-top: 3vh;
  letter-spacing: -0.2px;
  /* line-height: 10px; */
  color: #e1dcdc;
}

#div-withBorder {
  display: flex;
  align-items: center;
  justify-content: center;
}

#div-withBorder h4 {
  border: 1px solid rgb(179, 175, 175);
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 50;
  font-size: 1vw;
  margin-top: 5px;
  color: #e1dcdc;
}

/* Moving Animation div */
#moving-div {
  /* margin-top: 10vh; */
  position: absolute;
  bottom: -16%;
  /* background-color: #0da34e; */
  width: 55%;
  white-space: nowrap;
  overflow: hidden;
  padding: 2vw;
  /* border: 1px solid white; */
}

#moving-div .move {
  display: inline-block;
  animation-name: mobe;
  animation-duration: 18s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-div .move img {
  margin: 0 1.8vw;
  /* height: 3.5vh; */
}

@keyframes mobe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#blur-left {
  height: 100%;
  background: linear-gradient(to right, #111, transparent);
  width: 20%;
  position: absolute;
  left: 0;
  z-index: 2;
  top: 0;
}

#blur-right {
  height: 100%;
  background-color: #0da34e;
  width: 20%;
  position: absolute;
  right: 0;
  z-index: 0;
  top: 0;
  background: linear-gradient(to right, transparent, #111);
}

#page2 {
  height: 110vh;
  width: 100%;
  background-color: #111;
  /* border: 1px solid white; */
  border-top: 1px solid #333;
  padding: 0vw 6vw;
  padding-bottom: 8vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

#page2-left {
  height: 100%;
  width: 45%;
  /* background-color: #7f7878; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw 0;
}

#page2-left p {
  font-size: 0.9vw;
  font-weight: 400;
}

#page2-left h4 {
  font-size: 1vw;
  font-weight: 400;
  text-align: justify;
  width: 60%;
}

#page2-right {
  height: 100%;
  width: 50%;
  /* background-color: #999090; */
}

.right-elem {
  position: relative;
  /* background-color: #0da34e; */
  padding-top: 2vw;
  height: 25vh;
  /* padding-bottom: 1vw; */
  border-top: 1px solid #333;
  transition: all ease 0.2s;
}

.right-elem:hover {
  border-top: 1px solid white;
}

.right-elem h5 {
  font-size: 1.22vw;
  position: relative;
  text-transform: capitalize;
  z-index: 120;
}

.right-elem img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  scale: 0;
  margin-top: -3vw;
  z-index: 0;
}

#page3 {
  height: 90vh;
  width: 100%;
  position: relative;
  background: url(https://assets-global.website-files.com/64a2ab71942e1d57feb6fe39/65f306410543a22950d85603_reel-cover.webp);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.page3-center .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vw;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #fff;
  cursor: pointer;
}

.page3-center .icon i {
  font-size: 3vw;
  color: #111;
}

.page3-center h5 {
  font-size: 1.3vw;
  background-color: #fff;
  color: #111;
  padding: 5px 15px;
  border-radius: 40px;
}
